HOST=http://localhost
PORT=3000

DB_HOST=127.0.0.1
DB_PORT=3307
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Segredo e tempo de duração dos tokens JWT
JWT_SECRET=

# Flag para criação de seeds
RUN_SEEDS=true

# Flag de ativação do Swagger
ACTIVATE_SWAGGER=YES

# Usuários seed
ADMIN_EMAIL=admin@ubistart.com
ADMIN_PASSWORD=
