HOST=http://localhost
PORT=3000

# Configurar URL conforme ambiente
DATABASE_URL="mysql://usuario:senha@host:porta/nome_do_banco"

DB_HOST=127.0.0.1
DB_PORT=3306
DB_USER=
DB_PASSWORD=
DB_DATABASE=

# Segredo e tempo de duração dos tokens JWT
JWT_SECRET=ubistart_jwt_secret

# Flag de ativação do Swagger
ACTIVATE_SWAGGER=YES
